<header class="main-header">
    <button class="main-navigation__menu-btn">
        <span></span>
        <span></span>
        <span></span>
    </button>
    <h1 class="main-navigation__title">
        <a href="/">Shit</a>
    </h1>
    <a href="/">Shop</a>
    <% if (isAuthenticated) { %>
        <a href="/admin/add-product">Add Product</a>
        <a href="/admin/products">Admin Products</a>
        <form action="/logout" method="POST">
            <%- include('../includes/csrf.ejs') %>
            <button type="submit">Logout</button>
        </form>
    <% } else { %>
        <a href="/signup">Signup</a>
        <a href="/login">Login</a>
    <% } %>
</header>